* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: Arial,sans-serif; }

h2 {
  font-size: 1.1em;
  margin-top: 5px;
  margin-bottom: 7.5px; }

p {
  font-size: 0.9em; }

noscript {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 25px auto 0 auto; }

#mainHeader {
  background-color: black;
  color: white;
  padding: 5px;
  height: 60px; }

#navButton {
  float: left; }

#slideLeftNav {
  display: block;
  position: fixed;
  top: 0;
  left: -100vw;
  height: 100vh;
  width: 90vw;
  background-color: grey;
  -webkit-transition: 0.35s all linear;
  -o-transition: 0.35s all linear;
  transition: 0.35s all linear; }

#navHeader {
  background-color: black;
  padding: 5px;
  height: 60px;
  border-bottom: 1px solid black; }

#navButtonClose {
  color: white;
  position: fixed;
  top: 0.75vh;
  -webkit-transform: translateX(75vw);
  -ms-transform: translateX(75vw);
  transform: translateX(75vw);
  -webkit-transition: 0.35s all linear;
  -o-transition: 0.35s all linear;
  transition: 0.35s all linear; }

#navContainer {
  width: 100%; }

#navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

#navList li {
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 10vh;
  border-bottom: 1px solid black; }

#navList li a {
  display: block;
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
  font-size: 1.25em; }

#navSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  height: 10vh;
  text-align: center;
  position: fixed;
  bottom: 24vh;
  -webkit-transition: 0.35s all linear;
  -o-transition: 0.35s all linear;
  transition: 0.35s all linear; }

#navFacebook {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

#navInstagram {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

#navMapBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  height: 24vh;
  min-height: 160px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid black;
  -webkit-transition: 0.35s all linear;
  -o-transition: 0.35s all linear;
  transition: 0.35s all linear; }

#navMapBox .infoBox {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 50%;
  padding: 50px 25px 25px 25px;
  font-size: 1.1em;
  text-align: center; }

#navMap {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  width: 50%; }

#slideLeftHotspot {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 10vw;
  height: 100vh;
  background-color: black;
  opacity: 0.75; }

#mainContainer {
  background-color: white;
  width: 100vw;
  height: 88vh; }

#mainImage {
  width: 100vw; }

#findUs .infoBox {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

#findUsMap {
  background-image: url("../img/kanteen_map.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  width: 50%;
  height: 100%; }

#menusImageLink {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 50%; }

#menusImage {
  background-image: url("../img/menusImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top; }

#ourMenus .infoBox {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  width: 50%; }

#viewMenu {
  display: block;
  background-color: #96A6B3;
  color: white;
  width: 110px;
  height: 25px;
  padding: 5px;
  margin-top: 6px;
  font-size: 0.9em;
  text-align: center;
  text-decoration: none; }

#choImageLink {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  width: 50%; }

#choImage {
  background-image: url("../img/kanteen_counter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left; }

#comeHereOften .infoBox {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 50%; }

#giveawayImageLink {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 50%; }

#giveawayImage {
  background-image: url("../img/giveaway.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

#giveaway .infoBox {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  width: 50%; }

#giveawayFacebook {
  margin: 3px;
  display: inline-block; }

#giveawayInstagram {
  margin: 3px;
  display: inline-block; }

#menuTabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 7.5vh; }

#drinksTab {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

#breakfastTab {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }

#lunchTab {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3; }

#breakfastMain li {
  height: 60px; }

#lunchMain li {
  height: 60px; }

#contactDetails {
  margin: 10px; }

#contactDetails h2 {
  margin-top: 20px; }

#socialMedia svg {
  display: block;
  float: left; }

#socialMedia span {
  display: block;
  float: left;
  padding: 5px 0; }

#socialMedia li::after {
  content: "";
  display: table;
  clear: both; }

#contactImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 20vh;
  text-align: center;
  margin: 55px 0; }

#contactImages div {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

#contactImages div img {
  height: 100%; }

#contactAddress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 25vh; }

#addressMap {
  display: block;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  width: 50%; }

#addressBox {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding: 40px; }

.kanteenLogo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  margin: 0 auto; }

.kanteenLogoIMG {
  height: 50px; }

.slideLeftNavOpen {
  left: 0 !important; }

.captionBox {
  width: 100vw;
  text-align: center;
  padding: 10px; }

.caption {
  font-size: 1em; }

.infoSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  min-height: 160px;
  height: 24vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

.infoBox {
  width: 50%;
  height: 100%;
  padding: 5px 10px; }

.infoSectionImage {
  height: 100%; }

.menuTabOption {
  display: block;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  text-align: center;
  background-color: #DDD;
  padding: 10px;
  color: #808080;
  text-decoration: none; }

.activeMenuOption {
  background-color: white;
  color: black; }

.extras {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 25px auto 0 auto;
  color: grey; }

.menuContent {
  display: none;
  width: 100vw; }

.menuList {
  text-align: center;
  width: 100%;
  margin-bottom: 25px; }

.menuList div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto; }

.menuList div ul {
  display: block;
  list-style: none;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.menuList div ul li {
  padding: 3px 0; }

.itemNames {
  text-align: left; }

.itemPrices {
  text-align: right; }

.itemPrices li::before {
  content: "$"; }

.menuKey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 10vh;
  padding: 15px 10px;
  -ms-flex-line-pack: center;
  align-content: center; }

.menuKey div {
  height: 100%; }

.menuKey img {
  float: left;
  height: 100%; }

.menuKey p {
  float: left;
  height: 100%;
  padding: 12px 0;
  font-size: 0.7em; }

.vegetarianKey {
  -ms-flex-preferred-size: 27%;
  flex-basis: 27%; }

.vegetarianKey p {
  margin-left: -5px; }

.veganKey {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%; }

.veganKey p {
  margin-left: -4px; }

.glutenFKey {
  -ms-flex-preferred-size: 27%;
  flex-basis: 27%; }

.glutenFKey p {
  margin-left: -3px; }

.dairyFKey {
  -ms-flex-preferred-size: 26%;
  flex-basis: 26%; }

.dairyFKey p {
  margin-left: -5px; }

.bfFirstItemKey {
  position: absolute;
  left: 170px;
  top: 230px;
  height: 6vh; }

.lFirstItemKey {
  position: absolute;
  left: 170px;
  top: 215px;
  height: 6vh; }

.phoneNum {
  display: block;
  font-size: 0.9em;
  margin-top: 20px; }

.socialMediaLink {
  color: black;
  text-decoration: none;
  width: 30px;
  height: 30px; }
